@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}
html{
    /*font size by default -->16px ---> 10px is standard
    10px/16px = .625 = 62.6% 
    */

    font-size: 62.5%;
}